/*BEGIN Xbox One Controller Styling*/
.controller.edit {
    background: url(xboxsx.png) !important;
    height: 660px;
    width: 755px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}

.xbox.disconnected {
    background: url(xboxsx.png) !important;
}

.xbox .button.pressed {
    background-position-y: -48px;
    margin-top: 0px;
    opacity: 1;
}
/*END Xbox One Controller Styling*/
