/*BEGIN Xbox One Controller Styling*/
.controller.edit {
    background: url(xboxsx.png) !important;
    height: 660px;
    width: 755px;
    /*    margin-left: -375px;
        margin-top: -285px;*/
}

.xbox.disconnected {
    background: url(xboxsx.png) !important;
}

.xbox .button.pressed {
    background-position-y: -48px;
    margin-top: 0px;
    opacity: 1;
}
.xbox .arrows {
    position: absolute;
    width: 141px;
    height: 33px;
    top: 264px;
    left: 308px;
}
.xbox .triggers {
    width: 446px;
    height: 121px;
    position: absolute;
    left: 156px;
}
.xbox .bumpers {
    position: absolute;
    width: 536px;
    height: 61px;
    left: 110px;
    top: 129px;
}
/*END Xbox One Controller Styling*/
